	.recipeReview {
		background: bisque;
    display: flex;
    flex-direction: column;
    width: 401px;
    margin: 10px;
		.recipeBody{
	 		.recipeImage {
	 			width: 100%;
    		max-width: 401px;
	 		}
			p {
				margin-left: 10px;
				font-size: 18px;
				color: #222;
				font-weight: bold;
			}
	 	}
	 	.recipeFooter{
			    margin-top: auto;
	 			 	.recipeButtons {
	 		margin: 10px;
	 		.btn-dlt, .btn-edit {
		      margin-bottom: 10px;
		    	border: 3px double #ffffff;
		    	padding: 8px 20px;
		    	transition: background .5s;
		    	&:hover {
		    		background-repeat: no-repeat;
					background-position: center;
					color: transparent;
					cursor: pointer;
		    	}
	 		}
	 		.btn-dlt {
	 			float: right;
	 			background-color: red;
		    	color: white;
	     		font-size: 19px;
	     		&:hover{
					background-image: url("../../Images/rubbish-bin.png");
	     		}
	 		}
	 		.btn-edit {
	 			float: left;
			    background-color: #1ea014;
			    color: white;
			    font-size: 19px;
			    &:hover{
					background-image: url("../../Images/edit.png");
	     		}
	 			}
	 		}	
	 	}

	 }

	
