.recipeReview {
  background: #376E4B;
  display: flex;
  flex-direction: column;
  width: 401px;
  margin: 10px; }
  .recipeReview a {
    text-decoration: none; }
    .recipeReview a .recipeBody .recipeImage {
      width: 100%;
      max-width: 401px; }
    .recipeReview a .recipeBody p {
      margin-left: 10px;
      font-size: 18px;
      color: white;
      font-weight: bold; }
  .recipeReview .recipeFooter {
    margin-top: auto; }
    .recipeReview .recipeFooter .recipeButtons {
      margin: 10px; }
      .recipeReview .recipeFooter .recipeButtons .btn-dlt, .recipeReview .recipeFooter .recipeButtons .btn-edit {
        margin-bottom: 10px;
        border: 3px double #ffffff;
        padding: 8px 20px;
        transition: background .5s; }
        .recipeReview .recipeFooter .recipeButtons .btn-dlt:hover, .recipeReview .recipeFooter .recipeButtons .btn-edit:hover {
          background-repeat: no-repeat;
          background-position: center;
          color: transparent;
          cursor: pointer; }
      .recipeReview .recipeFooter .recipeButtons .btn-dlt {
        float: right;
        background-color: #cc1818;
        color: white;
        font-size: 19px; }
        .recipeReview .recipeFooter .recipeButtons .btn-dlt:hover {
          background-image: url("../../Images/rubbish-bin.png"); }
      .recipeReview .recipeFooter .recipeButtons .btn-edit {
        float: left;
        background-color: #2e6f2a;
        color: white;
        font-size: 19px; }
        .recipeReview .recipeFooter .recipeButtons .btn-edit:hover {
          background-image: url("../../Images/edit.png"); }
