/* Coolors Exported Palette - coolors.co/5e005e-ab2f52-e55d4a-e88554-ffaf53 */

$bigFootFeet: #e88554;
$tuscan: #fbd1a2;
$jazzberryJam: #bd112f; //

//Color pallete v2

$mainColor: #376e4b;
$a: #5d9f48;
$b: #3c8542;
$c: #3c856b;
$d: #377b76;
