/* Coolors Exported Palette - coolors.co/5e005e-ab2f52-e55d4a-e88554-ffaf53 */

/* HSL */
$color1: hsla(300%, 100%, 18%, 1);
$color2: hsla(343%, 57%, 43%, 1);
$color3: hsla(7%, 75%, 59%, 1);
$color4: hsla(20%, 76%, 62%, 1);
$color5: hsla(32%, 100%, 66%, 1);

/* RGB */
$purple: rgba(94, 0, 94, 1);
$darkpink: rgba(171, 47, 82, 1);
$darkorange: rgba(229, 93, 74, 1);
$lightorange: rgba(232, 133, 84, 1);
$yellow: rgba(255, 175, 83, 1);