/* Coolors Exported Palette - coolors.co/5e005e-ab2f52-e55d4a-e88554-ffaf53 */

$bigFootFeet: #E88554;
$tuscan: #FBD1A2;
$jazzberryJam = #bd112f; // 

//Color pallete v2

$mainColor: #376E4B;
$a: #5D9F48;
$b: #3C8542;
$c: #3C856B;
$d: #377B76;