.btn-goBack {
  border: 3px double #ffffff;
  padding: 8px 20px;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  font-size: 15px;
  color: white;
  background-color: inherit;
  &:hover {
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    cursor: pointer;
    background-image: url("../../Images/go-back.png");
  }
}

.viewRecipe-wrapper {
  height: 100vh;
  background-image: url("../../Images/recipe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .viewRecipe-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h1,
    h2,
    .title {
      color: #376e4b;
    }

    .viewRecipe-header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .viewRecipe-recipeName {
        display: flex;
        flex-direction: column;
        order: 2;
        margin-left: auto;
        flex: 1;
        .viewRecipe-title {
          .title {
            font-size: 35px;
            margin-right: 12px;
          }
          h1 {
            display: inline-block;
            font-size: 25px;
            border-bottom: 2px dashed #376e4b;
            vertical-align: super;
          }
        }
        .recipePhoto-container {
          height: 400px;
          background-color: #376e4b;
          display: flex;
          justify-content: center;
          align-items: center;
          height: auto;
          min-width: 0;
          img {
            width: 450px;
            max-width: 100%;
            max-height: 351px;
            margin: 20px;
          }
        }
      }

      h2 {
        order: 1;
        flex: 1;
        font-size: 5.7vw;
        align-self: center;
      }
    }

    .ingrAndDirection-container {
      display: flex;
      .ingredients-container,
      .direction-container {
        width: 50%;
        ul {
          padding-left: 0;
          li {
            list-style: none;
            border-bottom: 1px solid #d7d7d9;
            padding: 12px 0;
            font-size: 17px;
            transition: background-color 1s;
            &:hover {
              background-color: rgba(255, 255, 255, 0.4);
            }
          }
        }
      }
      .ingredients-container {
        margin-right: 5%;
      }
    }
  }
}
