.viewRecipe-wrapper .btn-goBack {
  border: 3px double #ffffff;
  padding: 8px 20px;
  transition: background 0.5s;
  font-size: 15px;
  color: white;
  background-color: #376e4b;
}
.viewRecipe-wrapper .btn-goBack:hover {
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  cursor: pointer;
  background-image: url("../../Images/go-back.png");
}

.viewRecipe-wrapper h1,
.viewRecipe-wrapper h2,
.viewRecipe-wrapper .title {
  color: #376e4b;
}

.viewRecipe-wrapper .aboutRecipe-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.viewRecipe-wrapper .aboutRecipe-container > * {
  width: 100%;
}
.viewRecipe-wrapper .aboutRecipe-container .aboutRecipe-section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.viewRecipe-wrapper
  .aboutRecipe-container
  .aboutRecipe-section1
  .aboutRecipe-heading-container {
  display: flex;
  flex-direction: column;
  order: 2;
  align-items: center;
}
.viewRecipe-wrapper
  .aboutRecipe-container
  .aboutRecipe-section1
  .aboutRecipe-heading-container
  .aboutRecipe-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.viewRecipe-wrapper
  .aboutRecipe-container
  .aboutRecipe-section1
  .aboutRecipe-heading-container
  .aboutRecipe-header
  .title {
  font-size: 35px;
  margin-right: 15px;
}
.viewRecipe-wrapper
  .aboutRecipe-container
  .aboutRecipe-section1
  .aboutRecipe-heading-container
  .aboutRecipe-header
  h1 {
  font-size: 25px;
  border-bottom: 2px dashed #376e4b;
}
.viewRecipe-wrapper .aboutRecipe-container .aboutRecipe-section1 h2 {
  order: 1;
  font-size: 6.7vw;
}
.viewRecipe-wrapper .aboutRecipe-container .aboutRecipe-section2 {
  display: flex;
  justify-content: space-evenly;
}
