.btn-goBack {
  border: 3px double #ffffff;
  padding: 8px 20px;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
  font-size: 15px;
  color: white;
  background-color: inherit; }
  .btn-goBack:hover {
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    cursor: pointer;
    background-image: url("../../Images/go-back.png"); }

.viewRecipe-container {
  width: 60%;
  margin: 0 auto; }
  .viewRecipe-container .recipePhoto-container {
    height: 400px;
    background-color: #ffbd9d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-width: 0; }
    .viewRecipe-container .recipePhoto-container img {
      width: 450px;
      max-width: 100%;
      max-height: 351px;
      margin: 20px; }
  .viewRecipe-container .ingrAndDirection-container {
    display: flex; }
    .viewRecipe-container .ingrAndDirection-container .ingredients-container, .viewRecipe-container .ingrAndDirection-container .direction-container {
      width: 50%; }
      .viewRecipe-container .ingrAndDirection-container .ingredients-container ul, .viewRecipe-container .ingrAndDirection-container .direction-container ul {
        padding-left: 0; }
        .viewRecipe-container .ingrAndDirection-container .ingredients-container ul li, .viewRecipe-container .ingrAndDirection-container .direction-container ul li {
          list-style: none;
          border-bottom: 1px solid #d7d7d9;
          padding: 12px 0;
          font-size: 17px;
          transition: background-color 1s; }
          .viewRecipe-container .ingrAndDirection-container .ingredients-container ul li:hover, .viewRecipe-container .ingrAndDirection-container .direction-container ul li:hover {
            background-color: rgba(255, 255, 255, 0.4); }
    .viewRecipe-container .ingrAndDirection-container .ingredients-container {
      margin-right: 5%; }
