.recipeContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 10px auto;
  border: 1px solid black;
  flex-wrap: wrap; }
  .recipeContainer .recipeBody {
    width: 280px;
    height: 280px;
    margin: 10px; }
  .recipeContainer .recipeFooter {
    margin: 10px;
    max-width: 280px; }
    .recipeContainer .recipeFooter p {
      margin-top: 10px;
      font-size: 18px;
      color: #222;
      font-weight: bold; }
