/* Loader */
.loader-wrapper {
   /*Centering*/
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    
  .loader {
    box-sizing: border-box;
    width:120px;
    height:120px;
    border:16px solid #818285;
    border-radius: 50%;
    border-top:16px solid #A40E4C; /* this is the spinner */
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

  }
}




@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

