.modal{
	width: 40%;
	height: 50%;
	border: 2px solid black;
	background-color: pink;
	position: absolute;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
}

.closed{
	display: none;
}

.opened {
	display: block;
}


.inputsContainer {
    display: flex;
    justify-content: space-around;

  .recipeInputs {
    display: flex;
    flex-direction: column;

    input[type="text"], input[type="time"] {
      width: 250px;
      height: 35px;
      font-size: 25px;
    }

    input[type="time"] {
      &::-webkit-datetime-edit-ampm-field{ 
        display: none;
      }
    }

    textarea{
      width: 300px;
      height: 100px;
      resize: vertical;
    }
  }
}

.formBtns {
  float: right;
  margin: 10px 20px;
}

.imageContainer {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  position: relative;
  label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    color: #09860e;
  }
  input {
    height: 100%;
    width: 100%;
    opacity: 0;
  }
}