.modal{
	width: 40%;
	height: 50%;
	border: 2px solid black;
	background-color: pink;
	position: absolute;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
}

.closed{
	display: none;
}

.opened {
	display: block;
}