.site-header {
  background-color: #376e4b;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: sans-serif;
  color: white;
}
@media only screen and (max-width: 768px) {
  .site-header {
    flex-direction: column;
  }
}
.site-header:before {
  content: "";
  flex: 1;
}
.site-header .mobile-menu-btn {
  display: none;
  cursor: pointer;
  background-color: inherit;
  border: none;
}
.site-header .mobile-menu-btn .bar1,
.site-header .mobile-menu-btn .bar2,
.site-header .mobile-menu-btn .bar3 {
  display: block;
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.site-header .mobile-menu-btn.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.site-header .mobile-menu-btn.change .bar2 {
  opacity: 0;
}
.site-header .mobile-menu-btn.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
@media only screen and (max-width: 768px) {
  .site-header .mobile-menu-btn {
    align-self: flex-end;
    display: initial;
    position: absolute;
  }
}
.site-header nav {
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .site-header nav {
    display: none;
    align-self: flex-end;
  }
  .site-header nav.open-mobile-menu {
    display: flex;
  }
}
.site-header nav .header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .site-header nav .header-buttons {
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .site-header nav .header-buttons li:nth-child(1) {
    order: 2;
  }
}
.site-header nav .header-buttons .btn-loadSampleData,
.site-header nav .header-buttons .btn-logOut,
.site-header nav .header-buttons .btn-logIn {
  margin-right: 10px;
  padding: 5px;
  border: none;
  background-color: initial;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .site-header nav .header-buttons .btn-loadSampleData,
  .site-header nav .header-buttons .btn-logOut,
  .site-header nav .header-buttons .btn-logIn {
    margin-right: 0;
  }
}
.site-header h1 {
  margin: 0;
  font-size: 25px;
  line-height: 41px;
}
