.inputsContainer {
  display: flex;
  justify-content: space-around;
  padding: 15px;

  .recipeInputs {
    display: flex;
    flex-direction: column;

    input[type="text"] {
      width: 100%;
      height: 35px;
      font-size: 25px;
    }

    textarea {
      width: 100%;
      height: 100px;
      resize: vertical;
      font-size: 17px;
    }
  }
}

.formBtns {
  text-align: center;
  margin: 10px 20px;

  input[type="submit"],
  input[type="reset"] {
    border: 3px double #ffffff;
    padding: 8px 20px;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    cursor: pointer;
    color: white;
    font-size: 15px;
  }
  input[type="submit"] {
    margin-right: 10px;
    background-color: #2e6f2a;
  }
  input[type="reset"] {
    background-color: #545454;
  }
}
