html,body{
	margin: 0;
}

body {
	background: rgba(232, 133, 84, 1);
}

.recipeContainer{
	 	display: flex;
	 	flex-direction:row;
	 	margin: 10px auto;
	 	border: 1px solid black;
	 	flex-wrap: wrap;
	 	width: 90%;
	 	border: 10px solid transparent;
    border-image: url('../Images/border-icon.png') 80 round;
 }

 .btn-addRecipe {
		display: block;
    margin: 0 auto;
    padding: 15px;
    color: white;
    background-color: #06a56c;
    border: 3px double #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    outline: none;
 		transition: all .5s;
 }
 .btn-addRecipe:hover {
	background-image: url('../Images/add.png');
	background-position: center;
	background-repeat: no-repeat;
	color: transparent;
	cursor: pointer;
 }